rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /banners/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        request.auth.token.email == 'young829229@gmail.com' ||
        request.auth.token.email == 'npdraggers111@gmail.com' ||
        request.auth.token.admin == true
      );
    }
    match /products/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        request.auth.token.email == 'young829229@gmail.com' ||
        request.auth.token.email == 'npdraggers111@gmail.com' ||
        request.auth.token.admin == true
      );
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
