@import "tailwindcss";

@layer utilities {
  .font-bebas {
    font-family: 'Bebas Neue', sans-serif;
  }
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}

